* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
.container {
    width: 1300px;
    margin: 0 auto;
}

header {
    background-color: black
}

nav {
    display: flex;
    justify-content: space-between;
    width: Fill (1, 536px)px;
    height: Hug (48px)px;
    max-height: 48px;
    padding: 8px 8px 8.8px 8px;
    gap: 20px;
    border: 0px 0px 0.8px 0px;
    opacity: 0px;

}

.left_block {
    display: flex;
    align-items: end;
    gap: 20px;
}

.right_block {
    display: flex;
    align-items: end;
    gap: 20px;

    input {
        width: Fixed (200px)px;
        height: Fixed (32px)px;
        min-width: 200px;
        left: 4px;
        border: 1px solid rgba(49, 46, 46, 0.986);
        background: none;
        color: #9FADBC;
    }
}

.navigatsion {
    cursor: pointer;
}

p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Roboto;
    font-size: 13.78px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #9FADBC;
}

.btn,
button {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border: none;
}

.header-section {
    display: flex;
    justify-content: space-between;

    width: Fill (1, 536px)px;
    height: Hug (48px)px;
    max-height: 48px;
    padding: 8px 8px 8.8px 8px;
    gap: 20px;
    opacity: 0px;

    background-color: #884a67;
}

.sec-left {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;

}

.sec-right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Roboto;
    font-size: 13.67px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    width: 373.64px;
    height: 32px;
    opacity: 0px;
    color: #FFFFFF;

}

main {
    background-color: #cd5a92;
}

.section-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.box-height {
    width: 272px;
    height: 531px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    height: auto;
    max-height: 531.2px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: #101204;
    padding: 8px;

    p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        width: 100%;
        height: 100%;
        opacity: 0px;

    }

    span {
        display: flex;
        align-items: center;
        width: 100%;
        height: 38px;
        background: #2a2b29;
        border: none;
        color: #9FADBC;
        border-radius: 10px;
        font-size: 15px;
    }

    .end {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
        justify-content: end;
        width: 100%;
        height: 100%;
    }

    button {
        display: flex;
        width: 100%;
        height: 35px;
        top: 86px;
        gap: 10px;
        justify-content: space-between;
        opacity: 0px;
        border-radius: 0;
        background: none;
        color: #9FADBC;
    }
}

.block button {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 48px;
    border-radius: 5px;
    background: #FFFFFF3D 24%;

    span {
        font-family: Roboto;
        font-size: 13.78px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: white;

    }
}